<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <title>{{ site.title | default: "Cheng Wang" }}</title> <!-- This will show as the tab preview -->

    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

          <!-- Description text -->
        <p>{{ site.description_text | default: "" }}</p>
        
          <!-- Line -->
        <hr style="margin: 20px 0; border: 0.5px solid #ccc;">

        <div class="table-of-contents">
          <ul>
            <li><a href="#education">Education</a></li>
            <li><a href="#work-experience">Work Experience</a></li>
            <li><a href="#research-experience">Research Experience</a></li>
            <li><a href="#project-experience">Project Experience</a></li>
            <li><a href="#software-and-tools">Software and Tools</a></li>
          </ul>
        </div>
        
          <!-- Line -->
        <hr style="margin: 20px 0; border: 0.5px solid #ccc;">
        
          <!-- Icons -->
        <div class="icon-row">
          {% for item in site.description %}
            {% if item.phone %}
              <a href="tel:{{ item.phone }}" target="_blank" class="icon-link">
                <i class="fas fa-phone-alt"></i>
              </a>
            {% endif %}
            {% if item.email %}
              <a href="mailto:{{ item.email }}" target="_blank" class="icon-link">
                <i class="fas fa-envelope"></i>
              </a>
            {% endif %}
            {% if item.resume %}
              <a href="{{ item.resume }}" target="_blank" class="icon-link">
                <i class="fas fa-file-alt"></i>
              </a>
            {% endif %}
            {% if item.linkedin %}
              <a href="{{ item.linkedin }}" target="_blank" class="icon-link">
                <i class="fab fa-linkedin"></i>
              </a>
            {% endif %}
          {% endfor %}
        </div>
        
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
