<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
            
        <!-- Render the description with icons -->
        {% assign current_section = "" %}
        <ul>
          {% for item in site.description %}
            {% if item.section %}
              <li><strong style="color: #555555;">{{ item.section }}</strong></li>
              {% assign current_section = item.section %}
            {% elsif current_section %}
              <!-- Display Phone Icon -->
              {% if item.phone %}
                <li><i class="fas fa-phone-alt"></i> <a href="tel:{{ item.phone }}" target="_blank">{{ item.phone }}</a></li>
              {% endif %}
              <!-- Display Email Icon -->
              {% if item.email %}
                <li><i class="fas fa-envelope"></i> <a href="mailto:{{ item.email }}" target="_blank">{{ item.email }}</a></li>
              {% endif %}
              <!-- Display Resume Icon -->
              {% if item.resume %}
                <li><i class="fas fa-file-alt"></i> <a href="{{ item.resume }}" target="_blank">Resume</a></li>
              {% endif %}
              <!-- Display LinkedIn Icon -->
              {% if item.linkedin %}
                <li><i class="fab fa-linkedin"></i> <a href="{{ item.linkedin }}" target="_blank">LinkedIn</a></li>
              {% endif %}
            {% else %}
              <li><strong style="color: #555555;">{{ item[0] }}:</strong> {{ item[1] }}</li>
            {% endif %}
          {% endfor %}
        </ul>
        
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
